{include  file='public/header' title=$title}
<link rel="stylesheet" href="__CSS_PATH__/aboutus.css">
    <!-- <div class="row "> -->
    <div class="container ">
        <div class="top-photo " style="padding-left:0;padding-right:0; ">
            <img src="__IMG_PATH__/图书4.jpg" alt="">
        </div>
        <div class="lvyouzhishi ">
            <div class="content ">
                <span class="line "></span>
                <div class="viv ">
                    <span class="yanghu ">{$title}</span>
                    <span class="know ">{$ename}</span>
                </div>
                <span class="line-right "></span>
            </div>
        </div>
        <div class="xiangxijieshao ">
            <div class="container ">
                <div class="row ">
                    <div class="left-wenzi col-md-6 col-lg-6 ">
                        <span class="first ">读一篇优美的散文，如品一杯好茶，馨香练怀久久不忘。读一本好书，如同与众名家对话…… 本书选择了55篇世界上最具有代表性的散文，
                            篇篇精品都出自于名家高手，篇篇都是人类的共同财富；篇篇都寓意深刻、语言优美、尽显大家风范；同时本书的内容广泛，包罗自然、社会、人生等方方面面。 在名家名作前，读者不仅可以学到真正地道的英语，而且还可以启迪心智、丰富思想；它给读者提供了一方鸟瞰人类文学和不同民族精神传统的视窗，
                            是青年人及英语学习爱好者陶冶性情、增进文学、艺术、美学和哲学等方面修养的必备读物，也是忙碌的现代人的一片憩息心灵的家园。
                        </span>
                        <div class="kb " style="height:25px; "></div>
                        <span class="second ">打开《世界上最优的散文》——百篇散文，百种人生态度，蕴涵了大师们感悟自然，体验生死的情愫。
                        </span>
                        <div class="kb " style="height:25px; "></div>
                    </div>
                    <div class="right-photo col-md-4 col-lg-4 " style="padding-left:0;padding-right:0; ">
                        <img src="__IMG_PATH__/new5.jpg " alt=" ">
                    </div>
                </div>
            </div>
        </div>
        <div class="weixiushifu ">
            <div class="content ">
                <span class="line "></span>
                <div class="viv ">
                    <span class="yanghu ">摄影师傅</span>
                    <span class="know ">Master Team</span>
                </div>
                <span class="line-right "></span>
            </div>
        </div>
        <div class="person ">

            <div class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="person-photo ">
                    <img src="__IMG_PATH__/aboutus/dianzhang.jpg " alt=" ">
                    <span style="display:block;margin-top:15px;color:rgb(0,0,0);font-size:26px;text-align:center; ">李大福</span>
                    <span style="display:block;margin-top:2px;color:#F0443A;font-size:14px;text-align:center; ">店长</span>
                </div>
            </div>
            <div class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="person-photo ">
                    <img src="__IMG_PATH__/aboutus/fudianzhang.jpg " alt=" ">
                    <span style="display:block;margin-top:15px;color:rgb(0,0,0);font-size:26px;text-align:center; ">李大福</span>
                    <span style="display:block;margin-top:2px;color:#F0443A;font-size:14px;text-align:center; ">副店长</span>
                </div>
            </div>
            <div class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="person-photo ">
                    <img src="__IMG_PATH__/aboutus/weixiu1.jpg " alt=" ">
                    <span style="display:block;margin-top:15px;color:rgb(0,0,0);font-size:26px;text-align:center; ">李大福</span>
                    <span style="display:block;margin-top:2px;color:#F0443A;font-size:14px;text-align:center; ">摄影师傅1</span>
                </div>
            </div>
            <div class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="person-photo ">
                    <img src="__IMG_PATH__/aboutus/weixiu2.jpg " alt=" ">
                    <span style="display:block;margin-top:15px;color:rgb(0,0,0);font-size:26px;text-align:center; ">李大福</span>
                    <span style="display:block;margin-top:2px;color:#F0443A;font-size:14px;text-align:center; ">摄影师傅2</span>
                </div>
            </div>

        </div>

    </div>
    <!-- </div> -->
    <!--尾栏 -->
{include file='public/foot'}
<script src="__JS_PATH__/aboutus.js"></script>