<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>公共部分</title>
    <link rel="stylesheet" href="../../../../public/static/css/fwpublic/bootstrap.min.css">
    <link rel="stylesheet" href="css/fwpublic/public.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1342887_wewr9nkb7qi.css">
    <script src="js/public.js"></script>
</head>

<body>
    <!-- 导航栏 -->
    <header>
        <div class="logo">
            <a href="">
                <img src="img/public/title_logo.png" alt="">
            </a>
        </div>
        <div class="navi">
            <ul class="navi-list">
                <li><a href="index.html" class="text text-t text-1"> 首页 </a></li>
                <li><a href="aboutus.html" class="text">关于我们 </a></li>
                <li><a href="center.html" class="text"> 产品中心 </a></li>
                <li><a href="fwxm.html" class="text text-2 text-3"> 服务项目</a></li>
                <li><a href="xinwenzixun.html" class="text"> 新闻资讯 </a></li>
                <li><a href="zaixianyuyue.html" class="text">在线预约</a></li>
            </ul>
        </div>

    </header>

    <!-- 滚动条滚动后的导航栏  -->
    <div class="middle">
        <div class="logo">
            <a href="">
                <img src="img/public/title_logo.png" alt="">
            </a>
        </div>
        <div class="right">
            <ul>
                <li><a href="index.html" class="text text-t text-1"> 首页 </a></li>
                <li><a href="aboutus.html" class="text">关于我们 </a></li>
                <li><a href="center.html" class="text"> 产品中心 </a></li>
                <li><a href="fwxm.html" class="text"> 服务项目</a></li>
                <li><a href="xinwenzixun.html" class="text"> 新闻资讯 </a></li>
                <li><a href="zaixianyuyue.html" class="text">在线预约</a></li>
            </ul>
        </div>

    </div>





    <!-- 小于992的导航栏下拉列表 -->
    <div class="dropdown-box">
        <span class="x">首页</span>
        <span class="x-1">
                <i class="iconfont iconfanhui-copy-copy-copy-copy"></i>
            </span>
    </div>
    <a href="">
        <ul class="xialakuang" style="display: none;">
            <a href="index.html">
                <li>首页</li>
            </a>
            <a href="aboutus.html">
                <li>关于我们</li>
            </a>
            <a href="center.html">
                <li>产品中心</li>
            </a>
            <a href="fwxm.html">
                <li>服务中心</li>
            </a>
            <a href="xinwenzixun.html">
                <li>新闻资讯</li>
            </a>
            <a href="zaixianyuyue.html">
                <li>在线预约</li>
            </a>
        </ul>
    </a>

    <!--尾栏 -->
    <div class="bar">
        <div class="bar-b">
            <div class="address">
                <div> <strong>一店地址</strong></div>
                <div></div>
                <div> <span>门店地址：上海市松江区佘山林荫大道18号</span> </div>
                <p> <span>预约电话:</span> <strong>400-562-6654 </strong></p>
                <p></p>
                <p> <strong class="s">营业时间：</strong></p>
                <p> <span>周一 ~周五：上午9:30-下午8:00</span></p>
                <p> <span>周六、周日：上午10:00-下午9:00</span></p>
            </div>
            <div class="address">
                <div> <strong>一店地址</strong></div>
                <div></div>
                <div> <span>门店地址：上海市松江区佘山林荫大道18号</span> </div>
                <p> <span>预约电话:</span> <strong>400-562-6654 </strong> </p>
                <p></p>
                <p> <strong class="s">营业时间：</strong></p>
                <p> <span>周一 ~周五：上午9:30-下午8:00</span></p>
                <p> <span>周六、周日：上午10:00-下午9:00</span></p>
            </div>
            <div class="address">
                <div> <strong>一店地址</strong></div>
                <div></div>
                <div> <span>门店地址：上海市松江区佘山林荫大道18号</span> </div>
                <p> <span>预约电话:</span> <strong>400-562-6654 </strong> </p>
                <p></p>
                <p> <strong class="s">营业时间：</strong></p>
                <p> <span>周一 ~周五：上午9:30-下午8:00</span></p>
                <p> <span>周六、周日：上午10:00-下午9:00</span></p>
            </div>
        </div>
        <div class="icon">
            <i class="iconfont iconqq"></i>
            <i class="iconfont iconweixin"></i>
            <i class="iconfont icondianziyoujian"></i>
            <i class="iconfont iconlianxidianhua"></i>
            <i class="iconfont iconface-book"></i>
            <div>
                <span>版权所有 2019-2020  汽车美容工作室  技术支持：起飞页</span>
            </div>
        </div>
    </div>
    <!-- 小于992的尾栏 -->
    <a href="">
        <div class="dbbottom">
            在线预约
        </div>
        <div class="zdJiantou">
            <a href="#">
                <i class="iconfont iconxiangshangjiantouarrowup1-copy"></i>
            </a>
        </div>
</body>

</html>