{include  file='public/header' title=$title}
<link rel="stylesheet" href="__CSS_PATH__/fwxm.css">


<div class="container">
        <div class="row">
            <div class="tupian col-lg-12 col-md-12 col-xs-12">
                <img src="__IMG_PATH__/图片10.jpeg" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="box col-lg-12 col-md-12 col-xs-12">
                <div class="box-left"></div>
                <div class="gywm">
                    <p>{$title}</p>
                    <p class="services">{$ename}</p>
                </div>
                <div class="box-right">
                    <div class="tc"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="list">
                <div class="list-box animated fadeInUp">
                    <div class="list-1">
                        <img src="__IMG_PATH__/图片1.jpg" alt="">
                    </div>
                    <p class="zi">新书推荐</p>
                    <div class="line">
                        <img src="__IMG_PATH__/line.png" alt="">
                    </div>
                    <p class="text">我们一直以为一些负面情绪，如坏习惯、痛苦、悲伤、愤怒、恐惧等是不好的，甚至认为这些是不完美的，阻碍了我们成长，我们努力去避免和克服它们。作者从...
                </div>

                <div class="list-box animated fadeInUp">
                    <div class="list-1 ">
                        <img src="__IMG_PATH__/new2.jpg" alt="">
                    </div>
                    <p class="zi">精品图书</p>
                    <div class="line">
                        <img src="__IMG_PATH__/line.png" alt="">
                    </div>
                    <p class="text">“许多年过去了，人们说陈年旧事可以被埋葬，然而我终于明白这是错的，因为往事会自行爬上来。回首前尘，我意识到在过去二十六年里，自己始终在窥视着那荒芜的...
                </div>

                <div class="list-box animated fadeInUp">
                    <div class="list-1">
                        <img src="__IMG_PATH__/new6.jpg" alt="">
                    </div>
                    <p class="zi">独家特供</p>
                    <div class="line">
                        <img src="__IMG_PATH__/line.png" alt="">
                    </div>
                    <p class="text">《菜穗子》是日本小说家堀辰雄的代表作之一，为其生前发表的最后一部长篇小说。小说分为榆树之家及菜穗子两大章节，在榆树之家中描述名叫三村菜穗子的女性在与上班族...
                </div>
                <div class="list-box animated fadeInUp">
                    <div class="list-1">
                        <img src="__IMG_PATH__/new1.jpg" alt="">
                    </div>
                    <p class="zi">国风中文网</p>
                    <div class="line">
                        <img src="__IMG_PATH__/line.png" alt="">
                    </div>
                    <p class="text">民国风云变幻，奇人纷呈辈出。 大乱之世，江湖浩荡，正所谓“天下风云出我辈，民国奇人北斗来”，这七个，乃何人也？ 有个道士，高呼“盛世佛门香火旺，道士修...
                </div>

            </div>
        </div>
    </div>

    <!-- <div class="last"></div> -->
    <!--尾栏 -->
<!--尾栏 -->
{include file='public/foot'}
<script src="__JS_PATH__/fwxm.js"></script>
<script src="__JS_PATH__/fwpublic.js"></script>