{include  file='public/header' title=$title}
<link rel="stylesheet" href="__CSS_PATH__/index.css">
    <!-- 轮播图开始 -->
    <div class="swiper-container" id="ban">
        <div class="swiper-wrapper">
            <div class=" item swiper-slide">
                <img src="__IMG_PATH__/图书4.jpg" alt="失败">
            </div>
            <div class=" item swiper-slide">
                <img src="__IMG_PATH__/图书2.jpg" alt="失败">
            </div>
            <div class=" item swiper-slide">
                <img src="__IMG_PATH__/图书3.jpg" alt="失败">
            </div>
            <div class="item swiper-slide">
                <img src="__IMG_PATH__/图书6.jpg" alt="失败">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!-- 轮播图结束 -->
    <div class="kong">

    </div>
    <!-- 内容部分开始 -->
    <div class="all container">
        <div class="row">
            <!-- 小标题部分开始 -->
            <div class="font-text">
                <div class=" text-title">
                    心若没有栖息的地方，到哪都是流浪
                </div>
                <div class="text-p">
                    选择我们，选择正版，选择品质生活！
                </div>
            </div>
            <!-- 小标题部分结束 -->
            <!-- 四小部分开始 -->
            <div class="tuijian">
                <div class="tj-itme animated  ">
                    <div class="img">
                        <img src="__IMG_PATH__/aa1 (1).png" alt="">
                    </div>
                    <div class="title">
                        覆盖地域广
                    </div>
                    <div class="title-fg">
                        <img src="__IMG_PATH__/fg1.png" alt="">
                    </div>
                    <div class="font-p">
                        覆盖全国900多个城市，超2000家实体门面 为您提供异地服务
                        不管你在哪，我们提供的都是最好的服务
                    </div>
                </div>
                <div class="tj-itme animated ">
                    <div class="img ">
                        <img src="__IMG_PATH__/aa1 (4).png" alt="">
                    </div>
                    <div class="title">
                        包邮送货上门
                    </div>
                    <div class="title-fg">
                        <img src="__IMG_PATH__/fg1.png" alt="">
                    </div>
                    <div class="font-p">
                        正品保证，服务优质
                        优秀的书籍是抚育杰出人才的珍贵乳汁，它作为人类财富被保存下来！
                    </div>
                </div>
                <div class="tj-itme animated ">
                    <div class="img">
                        <img src="__IMG_PATH__/aa1 (2).png" alt="">
                    </div>
                    <div class="title">
                        多渠道品种全
                    </div>
                    <div class="title-fg">
                        <img src="__IMG_PATH__/fg1.png" alt="">
                    </div>
                    <div class="font-p">
                        只要是你需要的，我们就一定会有，
                        我们提供知识，让你们应对这变化的世界！
                   </div>
                </div>
                <div class="tj-itme animated  ">
                    <div class="img">
                        <img src="__IMG_PATH__/aa1 (3).png" alt="">
                    </div>
                    <div class="title">
                        强大的售后保障
                    </div>
                    <div class="title-fg">
                        <img src="__IMG_PATH__/fg1.png" alt="">
                    </div>
                    <div class="font-p">
                        强大的服务后台和管理体系为您的权益提供保障
                        我们有最好的团队，你们拥有最安心的购物体验
                    </div>
                </div>
            </div>
            <!-- 四小部分结束 -->

            <!-- 引领时代部分开始 -->
            <div class="yinl">
                <div class="yinl-title">
                    知识引领时代，书籍创造价值
                </div>
                <!-- <div class="yinl-img">
                    <img src="../PC整理/image/鲜花/分割线.png" alt="">
                </div> -->
                <div class="lvyouzhishi ">
                    <div class="content ">
                        <span class="line "></span>
                        <div class="viv ">
                            <span class="yanghu ">Book home</span>
                            <span class="know ">the treasure of the world</span>
                        </div>
                        <span class="line-right "></span>
                    </div>
                </div>
            </div>
            <!-- 引领时代部分结束 -->

            <!-- 公司简介部分开始 -->
            <div class="gsjj">
                <div class="gsjj-img col-md-4 animated ">
                    <img src="__IMG_PATH__/new5.jpg" alt="">
                </div>
                <div class="gsjj-right col-md-8">
                    <div class="gsjj-title ">
                        公司简介
                        <div class="more">
                            <a href="about.html"> MORE+</a>
                        </div>
                    </div>
                    <div class="gsjj-p">
                        <div class="gsji-p1">
                            寻书集坚持“我们提供知识，以应对变化的世界。”的理念，以高端优质的内容服务，多样化的内容展现形式，为读者提供高品质阅读与视听内容，满足大众多样化的知识与文化需求。
                        </div>
                        <div class="gsjj-p2">
                            该网站面向城市新兴中产阶层，提供图书、电影、互联网文化产品等“更好的精神食粮”。与作家韩寒、安妮宝贝、冯唐、严歌苓、易中天等有密切合作。
                        </div>
                    </div>
                </div>
            </div>

            <!-- 公司简介部分结束 -->
            <!-- 美容知识开始 -->
            <div class="mrzs">
                <div class="mrzs-left  col-md-8">
                    <div class="mrzs-title ">
                        好书速朗
                        <div class="more">
                            <a href="新闻资讯.html"> MORE+</a>
                        </div>
                    </div>
                    <div class="mrzs-p">
                        <ul class="mrzs-ul">
                            {volist name="news" id="vo"}
                            <a href="/public/public/index/Cate/news?id={$vo.id}" title="{$vo['type']}">
                                <li class="mrzs-li">
                                    {$vo['type']} ----- 《{$vo.detail}》
                                    <span>{$vo['time']}</span>
                                </li>
                            </a>
                            {/volist}
                        </ul>

                    </div>
                </div>
                <div class="mrzs-img  col-md-4 animated ">
                    <img src="__IMG_PATH__/new8.jpg" alt="">
                </div>
            </div>
            <!-- 美容知识结束 -->

<!--            <div class="tuijian">-->
<!--                <div class="tj-itme animated  ">-->
<!--      -->
<!--                    <img src="__IMG_PATH__/foot1.png" alt="">-->

<!--            </div>-->
<!--                <div class="tj-itme animated  ">-->

<!--                        <img src="__IMG_PATH__/foot2.png" alt="">-->


<!--                </div>-->
<!--                <div class="tj-itme animated  ">-->

<!--                        <img src="__IMG_PATH__/foot3.png" alt="">-->


<!--                </div>-->
<!--                <div class="tj-itme animated  ">-->

<!--                        <img src="__IMG_PATH__/foot4.png" alt="">-->


<!--                </div>-->

<!--            </div>-->


        </div>
    </div>
    <!-- 内容部分结束 -->
{include file='public/foot'}
<script src="__JS_PATH__/index.js"></script>